@model DotRaces.Models.OSUSurvey
@{
    ViewBag.Title = "Home";
}
<script>
    $(document).ready(function () {
        $('input[type="text"]').keyup(function () {
            var code = $('#IdentityCode').val();
            if (code.length > 2 && code > 0 && code < 1000) {
                $(':submit').prop('disabled', false);
                $(":submit").addClass("btn-success");
            }
            else
            {
                $(':submit').prop('disabled', true);
                $(':submit').removeClass("btn-success");
            }
        });
    });
</script>

@using (Html.BeginForm("Index", "Home"))
{
    
    @*<p class="text-right">
       @ViewBag.Version
    </p>*@   
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.SettingsID)
    @Html.HiddenFor(x => x.PointTotal)

    <table style="margin: 0 auto;">
        <tr>
            <td>
                <p class="lead text-center">
                    Please enter your <strong>3-digit subject number</strong> to begin.<br /><br />
                    @*This can be found under "My Profile" on the SONA home page after you log in.*@
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-center">
                    @Html.LabelFor(x => x.IdentityCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(x => x.IdentityCode, new { htmlAttributes = new { @class = "form-control medium", @style="margin: 0 auto;", @maxlength = "3" } })
                    @Html.ValidationMessageFor(x => x.IdentityCode, "", new { @class = "text-danger" })
                </p>
            </td>
        <tr>
        <tr>
            <td>
                <br />
                <p class="text-center">
                    <button type="submit" class="btn btn-default btn-success" disabled="disabled"><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;Begin</button>
                </p>
            </td>
        </tr>
    </table>

}
