@model DotRaces.Models.OSUSurvey
@{
    ViewBag.Title = "Rules";
}
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $(":submit").addClass("btn-success");
        }, 59900);

        setTimeout(function () {
            $(':submit').prop('disabled', false);
        }, 60000);
    });
</script>
@using (Html.BeginForm("Rules", "Home"))
{
    @Html.HiddenFor(x => x.SurveyID)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.SettingsID)

      <table>
          <tr>
              <th class="text-center">
                  <h2>RULES OF THE GAME</h2>
              </th>
          </tr>
          <tr>
              <td>
                  <p class="lead">
                      <br />
                      Each of the @ViewBag.LastRaceNoun races you see will feature two icons.&nbsp;&nbsp;
                      One icon represents the University of Oregon Ducks and the other represents the Oregon State University Beavers.
                  </p>
                  <p class="lead">
                      Every time your school’s icon wins, you will receive @ViewBag.PointsPerRound points.&nbsp;&nbsp;
                      When the opponent wins, you receive 0 points.
                  </p>
                  <p class="lead">
                      After the @ViewBag.SecondToLastRaceAdjective race, you will be asked if you’d like to bet on the outcome of the @ViewBag.LastRaceAdjective (final) race.&nbsp;&nbsp;
                      If you choose to make the bet, a win in the @ViewBag.LastRaceAdjective race will @ViewBag.MultiplierVerb your point total.&nbsp;&nbsp;
                      A loss will remove all of your points.&nbsp;&nbsp;
                      If you choose not to take the bet, your point total will not change regardless of the outcome of the seventh race.
                  </p>
                  <p class="lead">
                      So, assume you have @ViewBag.BeginTotal points before the @ViewBag.LastRaceAdjective and final race.&nbsp;&nbsp;
                      You decide <strong>“Yes, I want to take the bet.”</strong>&nbsp;
                      If your icon wins, you will have @ViewBag.MultipliedTotal points total after all the races are over.&nbsp;&nbsp;
                      If your icon loses, you will have 0 points.
                  </p>
                  <p class="lead">
                      Now, assume you have @ViewBag.BeginTotal points before the last race and you say <strong>“No, I don’t want to take the bet.”</strong>&nbsp;
                      This means you will receive 0 points for the last race (win or lose), but you will keep the @ViewBag.BeginTotal points you already had.&nbsp;&nbsp;
                      So, your point total after all the final race is still @ViewBag.BeginTotal.
                  </p>
                  <p class="lead">
                      At the completion of the study, the total number of points you have after the final race will then be placed in a pot for a drawing with all the other study participants.&nbsp;&nbsp;
                      We will then randomly select two lucky winners to be awarded a grand prize of a $@ViewBag.GiftCertificateAmount gift certificate to Amazon.com.
                  </p>
                  <p class="lead">
                      Your odds of winning are based on your percentage of points in the pot after the final race.&nbsp;&nbsp;
                      The more points you have, the better your odds.
                  </p>
                  <p class="lead">
                      For example, imagine that just two people are participating. You have 5 points after the final race and the other participant has 10 points.&nbsp;&nbsp;
                      The total number of points in the pot is 15.&nbsp;&nbsp;
                      This means your chance of winning is 5 out of 15 and your opponent’s chance of winning is 10 out of 15.
                  </p>
              </td>
          </tr>
          <tr>
              <td>
                  <h3 class="text-center" id="hideMsg"><span>60</span>
                  </h3>
                  <script type="text/javascript">
                      $(function() {
                          var timer, counter = $("#hideMsg span").text();
                          $('#hideMsg').delay(counter * 1000).fadeOut('fast');
                          timer = setInterval(function() {
                              $("#hideMsg span").html(--counter);
                              if (counter == 0) { clearInterval(timer)};
                          }, 1000);
                      });
                  </script>
                  <p class="text-center">
                      <button type="submit" class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;&nbsp;Next</button>
                  </p>
              </td>
          </tr>
      </table>
}